.fightarea {
    display: flex;
    gap: 20px;
}
#char,
#monster {
    flex: 1;
}
.status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}
.imgRight,
.imgLeft {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.imgRight img,
.imgLeft img {
    width: 195px;
}
.log {
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}